data
figs*
output
Manuscript*
*cache
archive
vignettes/above*
vignettes/first*
*.Rmd
*.html
*.pdf
binomexample.R
executable.R
first-order_simtest.R
Manuscript_plots.R
time_test.R
time_test_meta.R
tmprun.R
.Rproj.user
inst/doc
