.Rproj.user
Week9-Lecture-2-1.pdf
data
figs
Poultry_influenza.Rmd
Poultry_influenza.html
Poultry_metaanalysis.Rmd
Poultry_metaanalysis.html
DeltaMethod_testing.Rmd
DeltaMethod_testing.html
Rplots.pdf
walkthrough.Rmd
walkthrough.html
